body
{
    font-family: 'Roboto';
    margin: 0;
}

.question 
{
    font-weight: bold;
}

.answer
{
    font-weight: 100;
}

.info-title
{
    font-weight: bold;
}

.info-text
{
    font-weight: 100;
}


.header-title
{
    float: left;
    background-color: #555;
    color: #fff;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    vertical-align: middle;
}

.nav
{
    list-style-type: none;
    height: 50px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555;
}

.nav li
{
    float: left;
    height: 50px;
    margin: 0;
    padding: 0;
}

.nav a
{
    display: block;
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;    
}

.nav a:hover
{
    background-color:#333;
}

.nav .active
{
    background-color: #4ABDAC;
}

.login
{
    background-color: #777;
}

.login .login-box
{
    background-color: #CCC;
    border-radius: 0px;
    width: 300px;
    height: 200px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;    /*Horisontell center*/
    align-items: center;        /*Vertikal center*/
}

.login .row
{
    display: flex;
    padding: 0;
    width: 260px;
    margin-bottom: 20px;
    height: 40px;
}

.icon 
{
    padding: 7.5px;
    background: #4ABDAC;
    background-position: bottom right;
    color: white;
  }

.login .box
{
    width: 100%;
    margin: 0;
    border: 0;
    text-indent: 10px;
}

.login .button
{
    display: inline-block;
    width: 100%;
    margin: 0;
    border: 0;
    font-size: 15px;
    height: 40px;
    border-radius: 0px;
    background-color: #4ABDAC;
    color: #fff;
}
