:root
{
    --light-blue-color: #30c9e8;
    --dark-blue-color: #3A4A4D;
    --white-color: #F9FBFB;
    --accent-color: orange;
    
    
    --main-font: 'Open Sans';
}

html, body
{
    font-family: var(--main-font);
    background-color: var(--light-blue-color);
    padding: 0;
    margin: 0;
    height: 100%;
}
.wrapper
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header
{
    margin: 0;
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    height: 100px;
    width: 100%;
    font-family: 'Roboto';
}

.header-title
{
    margin: 0;
    padding: 0;
    padding-left: 50px;
    padding-right: 50px;
    text-transform: uppercase;
    color: var(--dark-blue-color);
    font-weight: 100;
    font-size: 18px;
    font-family: var(--main-font);
    text-decoration: none;
}

footer
{
    margin: 0;
    padding: 0;
    background-color: var(--white-color);
    height: 75px;
    display: flex;
    align-items: center;
    width: 100%;
}

footer ul
{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
    
footer li
{
    color: var(--dark-blue-color);
    font-family: var(--main-font);
    font-size: 12px;
}

.content
{
    margin: 0;
    padding: 0;
    margin-bottom: 5%;

    width: 100%;
    overflow-x: auto;
}

.content::-webkit-scrollbar
{
    display: none;
}

.quiz-list
{
    padding: 0;
    margin: 0;
    margin-left: 40%;
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    align-items: center;
}

.quiz-list .add-icon
{
    font-size: 100px;
    color: var(--white-color);
    cursor: default;
    margin-right: 50px;
}

.quiz-list .add-icon:hover
{
    color: gray;
}
       
            /* ------------------ 
                Quizbox Style 
                ------------------ */

.quizbox
{
    /*border-style: solid;*/
    border-width: 1px; 
    width: 250px;
    height: 300px;
    background-color: var(--white-color);
    padding: 0;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.quizbox .upper, .lower
{
    background-color: #DDD;
    height: 40px;
    padding: 0;
}

.quizbox .upper
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quizbox p
{
    font-family: 'Roboto';
    color: var(--dark-blue-color);
    margin: 15px;
}

.quizbox .title
{
    text-transform: uppercase;
}

.quizbox .descr
{
    margin: 15px;
    flex-grow: 1;
}

.quizbox .icon
{
    margin: 0;
    margin-right: 5px;
    padding: 2.5px;
    cursor: default;
    border-radius: 50%;
}

.quizbox .icon:hover
{
    background-color: #CCC;
}

.quizbox .lower
{
    height: 60px;

    display: flex;
    justify-content: center;
}

.quizbox .play-btn
{
    border: none;
    background-color: var(--accent-color);
    font-family: var(--main-font);
    text-transform: uppercase;

    width: 100%;

    border-radius: 5px;
    margin: 12px;

    cursor: pointer;
}

.question
{
    padding: 0;
    border-radius: 20px;
    color: var(--white-color);
    display: flex;
    justify-content: center;
}

.question h1
{
    text-transform: uppercase;
    font-size: 40px;
    color: var(--white-color); 
}

.alternatives
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10%;
    
    width: 500px;
}

.alternative
{
    background-color: var(--white-color);
    color: var(--dark-blue-color);
    text-transform: uppercase;
    font-family: var(--main-font);
    font-size: 18px;
    border: none;
    padding: 15px;
    margin: 10px;
    width: 175px;
    border-radius: 10px;
    text-align: center;
}
     