:root
{
    --light-blue-color: #2E9CCA; /*#30c9e8*/;
    --dark-blue-color: #3A4A4D;
    --light-section-color: #FFFFFF;

    --light-text-color: #FEFFFF;
    --dark-text-color: #15252A;
    --white-color: #FEFFFF; /*#F9FBFB;*/
    --accent-color: orange;
    
    --icon-gray-color: #777777;

    --button-hover: #e6e6e6;

    --correct-color: #00e600;
    --wrong-color: #ff0000;

    --clicked-answer-color: #000000;
    
    --main-font: 'Open Sans';

    --box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

html, body
{
    font-family: var(--main-font);
    padding: 0;
    margin: 0;
    height: 100%;
}

header, section, footer, aside, nav, main, article, figure 
{
  display: block; 
}

h1 
{
    margin: 0;
    text-transform: uppercase;
    font-size: 2.5em;
    color: var(--light-text-color); 
}

.button
{
    background-color: var(--light-section-color);
    color: var(--dark-text-color);
    text-transform: uppercase;
    font-family: var(--main-font);
    font-size: 1.25em;
    border: none;
    padding: 1em;
    margin: 0.5em;
    display: inline-block;
    min-width: 175px;
    border-radius: 10px;
    text-align: center;
    box-shadow: var(--box-shadow);
    text-decoration: none;

    transition: filter 0.2s;
}

.button:hover 
{
    filter: brightness(90%);
}

.wrapper
{
    background-color: var(--light-blue-color);

    min-height: 100vh;  /*Fyll alltid hela skärmen så footern hamnar längst ner*/

    display: flex;
    flex-direction: column;
}


/* ------------------ 
        Header 
    ------------------ */

header
{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: var(--light-section-color);
    height: 75px;
    width: 100%;
    font-family: 'Roboto';
}

header ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

header li
{
    height: 75px;
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

header a, header p
{
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    text-transform: uppercase;
    color: var(--dark-text-color);
    font-weight: 100;
    font-size: 1.15em;
    font-family: var(--main-font);
    text-decoration: none;
}

header .active
{
    border-bottom: solid;
    border-color: var(--accent-color);
}


/* ------------------ 
        Footer 
    ------------------ */

footer
{
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    background-color: var(--light-text-color);
}

footer a, footer p
{
    text-decoration: none;
    color: var(--dark-text-color);
}

footer ul
{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}
    
footer li
{
    color: var(--dark-text-color);
    font-family: var(--main-font);
    font-size: 0.75em;
}

.content
{
    flex-grow: 1;

    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;

    width: 100%;
    overflow-x: auto;

    text-align: center;
}

.quiz-list  /*Lista med quiz-boxar på startsidan */
{
    padding: 0;
    margin: 0;
    margin-top: 40px;
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    align-items: center;
}
       
           
/* ------------------ 
        Quizbox
    ------------------ */

.quizbox
{
    border-width: 1px; 
    width: 250px;
    height: 300px;
    background-color: var(--light-section-color);
    padding: 0;
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
}

.quizbox .upper, .lower
{
    background-color: #DDD;
    height: 40px;
    padding: 0;
}

.quizbox .upper
{
    display: flex;  /*Centrera titeltexten */
    align-items: center;
}

.quizbox p
{
    font-family: 'Roboto';
    color: var(--dark-text-color);
    margin: 15px;
}

.quizbox .title
{
    text-transform: uppercase;
}

.quizbox .descr
{
    margin: 15px;
    flex-grow: 1;
}

.quizbox .icon
{
    margin: 0;
    margin-right: 5px;
    padding: 2.5px;
    cursor: default;
    border-radius: 50%;
    color: var(--icon-gray-color);
}

.quizbox .icon:hover
{
    background-color: #CCC;
    color: #555555;
}

.quizbox .lower
{
    height: 60px;

    display: flex;
    justify-content: center;
}

.quizbox .play-btn
{
    border: none;
    background-color: var(--accent-color);
    color: black;
    font-family: var(--main-font);
    text-transform: uppercase;

    width: 100%;

    border-radius: 5px;
    margin: 12px;

    padding: 0;
    font-size: 0.75em;

    cursor: pointer;

    box-shadow: none;
}

/* ------------------ 
        Quiz-sidan
    ------------------ */

.question   /*Wrapper för en fråga */
{
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.alternatives
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 10px;
    
    width: 500px;
}

.correct
{
    color: var(--correct-color);
}

.wrong
{
    color: var(--wrong-color);
}

.alternative
{
    flex-grow: 1;
    background: linear-gradient(to right, var(--clicked-answer-color) 50%, var(--light-section-color) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background .2s ease-out;
}

.bar
{
    width: 300px;
    height: 20px;
    border-radius: 5px;
}

.bar::-webkit-progress-bar
{
    background-color: var(--light-section-color);
    border-radius: 5px;
    height: 12px;
    box-shadow: var(--box-shadow);
}

.bar::-webkit-progress-value
{
    background-color: var(--accent-color);
    border-radius: 6px;
    transition: width 1s ease-in-out;
}

.questions-left
{
    margin-top: 30px;
    padding: 0;
    text-align: center;
    
}

.questions-left p
{
    text-transform: uppercase;
    font-size: 1em;
    font-family: var(--main-font);
    padding: 5px;
    margin: 0;
    color: var(--light-text-color);
    border-radius: 6px;
}

/* ------------------ 
        Resultat-sidan
    ------------------ */

.result .questions
{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
    justify-content: center;
}

.result .button
{
    display: flex;
    justify-content: center;
}

.result a
{
    margin: auto;
    background-color: var(--accent-color);
    color: var(--light-text-color);
    width: 200px;
}

.result .icon
{
    margin-right: 10px;
    margin-left: -10%;
}

.popup
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.25); /* Black w/ opacity */
}

/* Modal Content */
.popup .box
{
    background-color: var(--light-section-color);
    border-radius: 15px;
    margin: auto;
    padding: 20px;
    width: 50%;
    font-family: var(--main-font);
}

.popup-content
{
    display: flex;
    flex-direction: column;
}

/* The Close Button */
.popup .close 
{
    float: right;
    position: relative;
    color: var(--icon-gray-color);
    top: 0;
    right: 0;
    font-size: 2em;
    font-weight: bold;
}

.close:hover, .close:focus 
{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.popup .question
{
    text-transform: uppercase;
}

.popup .answer
{
    text-transform: uppercase;
    font-weight: bold;
}

.popup .icon
{
    margin-left: 10px;
}

.popup .row
{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.about
{
    text-align: left;
    margin: auto;
    padding: 40px;
    width: 50%;
    border-radius: 10px;

    background-color: var(--light-section-color);

    list-style-type: none;

    font-family: var(--main-font);

    box-shadow: var(--box-shadow);
}

.about li
{
    margin: 0;
    padding: 0;
    color: var(--dark-text-color);
}

@media screen and (max-width: 1000px)
{
    header li:nth-of-type(2)
    {
        display: none;
    }

    .quiz-list
    {
        flex-direction: column;
        margin: 0;
    }

    footer
    {
        height: 150px;
    }

    footer ul
    {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .alternatives
    {
        width: 80%;
    }
}
