/*body 
{
    background-color: lightblue;
}*/

div
{
    height: 500px;
    width: 300px;
    background-color: lightblue;
}

h2
{
    padding:left: 10px;
}

p
{
    padding-left: 10px;
    padding-right: 20px;
    line-height: 10px;
}

span.tab 
{
    position: absolute;
    left: 125px; 
}

span.short-tab
{
    position: absolute;
    left: 75px;
}