/*Inmatningsfältets stil: */
.input-section
{
    height: 400px;
    width: 300px;
    background-color: lightblue;
    padding-top: 0px;
}

.input-title
{
    padding-top: 10px;
    padding-left: 10px;
}

.buttons
{
    padding-top: 15px;
    text-align: center;
}

.row 
{
    display: table-row;  
    line-height: 1.5;
}
.row div 
{
    display: table-cell;
    padding-left: 10px;
}


/*Visitkortets stil:    */
.card-section
{
    width: 300px;
    height: 150px;
}

.card-company
{
    padding-left: 10px;
    margin: 0px;
    font-size: 30px;
    font-weight: bold;
}

.card-name
{
    padding-left: 10px;
    margin: 0px;
    font-size: 20px;
}

.card-title
{
    padding-left: 10px;
    margin: 0px;
    font-size: 15px;
}

.card-phone
{    
    padding-left: 10px;
    padding-top: 20px;
    margin: 0px;
    font-size: 20px;
}

.card-email
{    
    padding-left: 10px;
    margin: 0px;
    font-size: 15px;
}